.tab {
  border: 1px solid gray;
}

.tab ul {
  list-style-type: none;
}

.tab ul li {
  display: inline;
  color: white;
  text-align: center;
  background-color: rgb(58,113,203);

}

.tab ul li:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(15,223,15);
}

.content {
  display: none;
}

.show-content {
  display: block;
}

.SmallButton {
  margin: auto;
  width: 100px;
  height: 25px;
  padding: 5px;
  background-color: grey;
  
}